<?xml version="1.0" encoding="UTF-8"?>
<Server>
    <!--Scorpio服务-->
    <Service name="Catalina">
        <!--Scorpio引擎-->
        <Engine defaultHost="localhost">
            <!--虚拟主机-->
            <Host name="localhost">
                <!--配置型应用[score]-->
                <Context path="/score" appPath="C:/Project/github/scorpio/example/score"/>
                <!--配置型应用[student]-->
                <Context path="/student" appPath="C:/Project/github/scorpio/example/student"/>
            </Host>
        </Engine>
    </Service>
</Server>